{% extends "layout.html" %}
{% load static %}

{% block page_title %}
   register.htmld
{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">

    <div class="card shadow-sm">
        <div class="card-body">

    
            <h1>Register</h1>
      
            <hr>
            <form method="POST">
             
               {% comment %} <div class="alert alert-danger" role="alert">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div> {% endcomment %}
                <hr>
               
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control" required> 
                </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                  <div class="mb-3">
                    <label for="repassword" class="form-label">repassword</label>
                    <input type="password" name="repassword" id="repassword" class="form-control" required>
                </div>

                <input type="submit" value="Register" class="btn btn-primary">
            </form>

        </div>
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'index' %}" class="btn btn-link">
            ← Geri Dön
        </a>
    </div>

</div>
{% endblock %}

{% block js_files %}
    
{% endblock %}
