{% extends "layout.html" %}
{% load static %}

{% block page_title %}
   create.html
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-4">Ürünler</h1>
     <!-- createdeki erroru nasıl alıcam yaz-->
        {% if error %}
            <p>Lütfen formu eksiksiz doldurun.</p>
        {% endif %}
    <!-- 📊 İSTATİSTİK KARTLARI -->
    <div class="row mb-4">
        <form action="create" method="POST">
             {% csrf_token %}
             {{ form}}
        
         <button type="submit" class="btn btn-primary">Ürün Ekle</button>
        
</div>
    </div>
    <a href="{% url 'index' %}" class="btn btn-secondary mt-3">
                        ← Geri Dön
                    </a>
{% endblock %}

{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
