{% extends "layout.html" %}
{% load static %}

{% block page_title %}
    Ürün Listesi
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-4">Ürünler</h1>

    <div class="row">
        {% for product in products %}
        <li>
            <a href="{% url 'product_details' slug=product.slug %}">{{ product.name }}</a>
        </li>
            <div class="col-md-4 mb-3">
                <div class="product-item p-3 border rounded">

                    <h5 class="product-title">{{ product.name }}</h5>
                    <p class="text-muted mb-1">
                        Kategori: {{ product.category }}
                    </p>
                    <p class="fw-bold">
                        Fiyat: {{ product.price }} ₺
                    </p>

                </div>
            </div>
        {% empty %}
            <div class="col">
                <p class="text-muted">Henüz ürün eklenmemiş.</p>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
