{% extends "layout.html" %}
{% load static %}

{% block page_title %}
   list.html
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-4">Ürünler</h1>

    </div>
    <!-- 📊 /İSTATİSTİK KARTLARI -->

    <!-- 🛒 ÜRÜN LİSTESİ -->
    <div class="row">
        
        {% for product in products %}

            <div class="col-md-4 mb-3">
                <div class="product-item p-3 border rounded h-100">
                    <a href="{% url "product_edit" product.id %}"> edit</a>
                    <a href="{% url "product_delete" product.id %}"> delete</a>
                    <h5 class="product-title">
                        <a href="{% url 'product_details' slug=product.slug %}">
                            {{ product.name }}
                        </a>
                    </h5>

                    <p class="text-muted mb-1">
                        Kategori: {{ product.category }}
                    </p>

                    <p class="fw-bold mb-0">
                        Fiyat: {{ product.price }} ₺
                    </p>

                </div>
            </div>

        {% empty %}
            <div class="col">
                <p class="text-muted">Henüz ürün eklenmemiş.</p>
            </div>
        {% endfor %}
    </div>
    <!-- 🛒 /ÜRÜN LİSTESİ -->
  <a href="{% url 'index' %}" class="btn btn-secondary mt-3">
                        ← Geri Dön
                    </a>

</div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
