{% extends "layout.html" %}
{% load static %}

{% block page_title %}
   list.html
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-4">Ürünler</h1>

    </div>
    <!-- 📊 /İSTATİSTİK KARTLARI -->

    <!-- 🛒 ÜRÜN LİSTESİ -->
    <div class="row">
            <div class="col">
                    <form action="{% url "upload_image" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form}}
                        <button>Upload</button>
                    </form>
            </div>

        
    </div>
    <!-- 🛒 /ÜRÜN LİSTESİ -->
  <a href="{% url 'index' %}" class="btn btn-secondary mt-3">
                        ← Geri Dön
   </a>

</div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
